%h1 Teams You Would Like to Follow
- if flash[:notice]
  .notice.span-22.prepend-1.append-1= flash[:notice]
- form_for :team_follower, :url => team_followers_path do |f|
  - counter = 0
  - for (classification, teams_in_group) in @teams.group_by(&:classification)
    - if (counter += 1) % 4 == 0
      .team-list.span-5.prepend-1.last
        = render :partial => 'team_list', :locals => { :classification => classification, :teams_in_group => teams_in_group }
      .clear
    - else
      .team-list.span-5.prepend-1
        = render :partial => 'team_list', :locals => { :classification => classification, :teams_in_group => teams_in_group }

  .clear
    = submit_tag "Update Schedules", :style=>'margin: 2em;'
    - if current_user.is_a? Guest
      = check_box_tag :save_schedule
      = label_tag :save_schedule, "Also save them for the future"
      %fieldset{:id=>'credentials', :style=>'display:none;'}
        .legend Create Account
        - fields_for :user do |fld|
          %dl
            %dt= fld.label :email
            %dd= fld.text_field :email

            %dt= fld.label :password
            %dd= fld.text_field :password

            %dt= fld.label :password_confirmation
            %dd= fld.text_field :password_confirmation

            %dt= fld.check_box :reminders
            %dd= fld.label :reminders, "Email me weekly reminders"
