%h1 Teams You Would Like to Follow
- if flash[:notice]
  .notice.span-22.prepend-1.append-1= flash[:notice]
= form_for :team_follower, :url => team_followers_path do |f|
  - counter = 0
  - for (classification, teams_in_group) in @teams.group_by(&:classification)
    - if (counter += 1) % 4 == 0
      .team-list.span-5.prepend-1.last
        = render :partial => 'team_list', :locals => { :classification => classification, :teams_in_group => teams_in_group }
      .clear
    - else
      .team-list.span-5.prepend-1
        = render :partial => 'team_list', :locals => { :classification => classification, :teams_in_group => teams_in_group }

  .clear
    - if current_user.is_a? Guest
      .bump{:style=>'margin-left: 2em;'}
        = check_box_tag :save_schedule
        = label_tag :save_schedule, "Keep the schedules for the future"

      %fieldset{:id=>'credentials', :style=>'display:none;'}
        %legend Create Account
        - fields_for :user do |fld|
          .span-11
            %dl
              %dt= fld.label :name
              %dd= fld.text_field :name

              %dt= fld.label :email
              %dd= fld.text_field :email

              %dt
              %dd
                = fld.check_box :reminders
                = fld.label :reminders, "Email me weekly reminders"

              %dt
              %dd
                = check_box :user_session, :remember_me
                = label :user_session, :remember_me, "Remember me on this computer"

          .span-11.last
            %dl
              %dt= fld.label :password
              %dd= fld.password_field :password

              %dt= fld.label :password_confirmation
              %dd= fld.password_field :password_confirmation

    = submit_tag "Update Schedules", :style=>'margin: 2em;'

