.schedule.span-14.prepend-1.append-1
  %h1 Scheduled Matches for Teams you Follow
  - if flash[:notice]
    .notice.span-14{:style=>'text-align:center;'}= flash[:notice]
  - for (scheduled_date, match_info) in @scheduled_dates.sort{|a, b| a.first <=> b.first }
    - if scheduled_date >= Date.today
      .match-date.span-14.last
        %h2{ :style=>'display:block;' }= scheduled_date.strftime('%B %d, %Y')

        - for match in match_info.sort{|a, b| a[:time] <=> b[:time] }
          .match-info.span-14.last
            .span-2.prepend-1
              = match[:time].strftime('%I:%M %p')
            .span-4
              = match[:field]
            .span-7.last
              = match[:match]
.advertisement.vertical.span-8.last
  - link_to @advertisement.url do
    - unless @advertisement.logo.nil?
      = image_tag @advertisement.logo.url, :width => 308
    - unless @advertisement.title.blank?
      %h2= @advertisement.title
    - unless @advertisement.description.blank?
      %p= @advertisement.description
