%html
  %head
    = stylesheet_link_tag 'sencha-touch'
    - if is_device?('iphone') || is_device?('ipad')
      = stylesheet_link_tag 'apple'
    - if is_device?('android')
      = stylesheet_link_tag 'android'

    = yield :additional_head

  %body
    = yield
